<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunkbook.mapper.UserMapper">
    <insert id="insert" parameterType="com.tunkbook.pojo.User">
       insert into user(username,password,last_name,first_name,email,phone,is_active,create_time,update_time) values (#{username},#{password},#{lastName},#{firstName},#{email},#{phone},#{isActive},#{createTime},#{updateTime})
    </insert>

    <select id="getByUserNameAndPassword" resultType="com.tunkbook.pojo.User">
        select users.id, users.username, users.password from users
            <!--switch-->
        <choose>
            <when test="tipoUsuario=='autor'">
                inner join writers on users.id=writers.id
            </when>
            <when test="tipoUsuario=='lector'">
                inner join readers on users.id=readers.id
            </when>
            <when test="tipoUsuario=='admin'">
                inner join admins on users.id=admins.id
            </when>
            <otherwise>
                where 1=0
            </otherwise>
        </choose>
    </select>
</mapper>