<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunkbook.mapper.BookMapper">
    <select id="listBooks" resultType="com.tunkbook.pojo.Books">
        select b.id,book_name,cover,price,b.create_time,b.update_time,w.biography,us.first_name,us.last_name
        from books b
                 join books_subcategories bsc on bsc.id_book=b.id
                 join writers_books wb on wb.id_book=b.id
                 join writer w on w.id_user=wb.id_writer
                 join users us on us.id=w.id_user
        where bsc.id_subcategory=#{id};
    </select>
</mapper>